body {
    margin: 20px; /* Agrega un margen alrededor del cuerpo de la página */
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 800px; /* Establece un ancho máximo para el contenedor principal */
    margin: 20px auto; /* Centra el contenedor horizontalmente y agrega espacio en la parte superior e inferior */
}

h1, button {
    text-align: center; /* Centra el título y el botón */
}

p, ul, ol {
    text-align: left; /* Alinea el texto a la izquierda */
}

.tratado-container {
    margin-bottom: 20px; /* Agrega espacio en la parte inferior del contenedor del tratado */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block; /* Hace que el botón sea un bloque para centrarlo */
    margin: 20px auto; /* Centra el botón horizontalmente y agrega espacio en la parte superior e inferior */
}

button:hover {
    background-color: #333;
}
